/**********************************************************************************************************
********
********  GENERAL STYLES
********
***********************************************************************************************************/

/* 
	****************************************************************
	Styles for main document and 2-column containers 
	****************************************************************
*/


p{font-family: Tahoma, Geneva, sans-serif; font-size: 1em}

body.implMessageBanner
{
	padding: 0px;
	margin: 0px;
	background-color: #ff0000;
	color: #ffffff;
	font-weight: bold;
	font-size: 100%;
	font-family: "Trebuchet MS",sans-serif;
}
body.proxyBanner
{
	padding: 0px;
	margin: 0px;
	background-color: #fcee00;
	color: #000000;
	font-size: 100%;
	font-family:"Trebuchet MS",sans-serif;
body.emLogo
{
	padding: 0px;
	margin: 0px;
}
.emLogoBackground
{
	width: 100%;	
	color: #000000;	
	font-size: 8pt;
	font-family:"Trebuchet MS",sans-serif;
}
div.left_side
{
	padding-right: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 180px;
	position: absolute;
}
div.right_side
{
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin:20px 20px 0 0 ;
	float:right;
	border-left: #cccccc 1px dotted;
	width: 618px;
	/*position: absolute;*/
}
div.right_side_with_no_left_border
{
	padding-right: 10px;
	padding-left: 20px;
	left: 210px;
	padding-bottom: 10px;
	width: 550px;
	padding-top: 0px;
	position: absolute;
}
div.left_side_with_results_table
{
	padding-right: 10px;
	padding-left: 15px;
	padding-top: 10px;
	width: 180px;
	float: left;
}
div.right_side_with_results_table
{
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	border-left: #cccccc 1px dotted;
	width: 600px;
	float: right;
}
div.background_div
{
	border: #cccccc 1px solid;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f4f4f4;
}
div.background_div_top
{
	border: #cccccc 1px solid;
	border-bottom: 0px;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f4f4f4;
}
div.background_div_bottom
{
	border: #cccccc 1px solid;
	border-top: 0px;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f4f4f4;
}
div.popupFormContainer
{
	padding-left: 20px;
	padding-right: 20px;
	width: 95%;
}
div.topheader
{
	text-align: center;
	margin-top:10px;
	margin-bottom:-10px;
	padding-right: 10px;
	padding-left: 20px;
	width: 97.7%;
}

div.topheaderNoBottomMargin
{
	text-align: center;
	margin-top:10px;
	padding-right: 10px;
	padding-left: 20px;
	width: 97.7%;
}

/* 
	****************************************************************
	Styles for fieldsets and legends 
	****************************************************************
*/
.fieldset_invisible
{
	position: relative;
	margin-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
}
.fieldset_nolegend
{
	position: relative;
	margin-top: 0px;
	border: #cccccc 1px solid;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
	background-color: #f4f4f4;
}
.fieldset_nolegend_lesspadding
{
	position: relative;
	margin-top: 0px;
	border: #cccccc 1px solid;
	padding: 2px;
	background-color: #f4f4f4;
}
fieldset
{
	position: relative;
	margin-top: 0px;
	border: #cccccc 1px solid;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #f4f4f4;
}
.fieldset2
{
	position: relative;
	margin-top: 0px;
	border: #cccccc 1px solid;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #FFFAFA;
}
legend
{
	position: relative;
	top:-10px;
	left:7px;
	background:#ffffff;
	border:1px solid #cccccc;
	padding: 2px 5px;
	font-weight: bold;
}


/* 
	****************************************************************
	Styles for page "containers"
	****************************************************************
*/
div.faqcontainer
{
	border: 1px solid #003365; 
	padding: 10px; 
	width: 550px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	border: 1px solid #cccccc; 
	background-color: #ffffff;
}
div.faqbox
{
	padding: 10px;
	border-top: #002233 1px solid;
	border-bottom: #002233 1px solid;
	left: 10px;
	width: 490px;
	background-color: #ffffff;
}
div.boundedInstructions
{
	padding: 5px; 
	border-top: #002233 1px solid;
	border-bottom: #002233 1px solid;
	background-color: #ffffff;
}
div.reviewerCommentsBox
{
	padding: 10px;
	border: #002233 1px solid;
	background-color: #ffffff;
}

div.centeredboxlesspadding
{ 
	padding: 2px; 
	width: 650px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	border: 1px solid #cccccc; 
	background-color: #f4f4f4;
	line-height:14px;
}

div.centeredboxlesspaddingleft
{ 
	padding: 2px; 
	width: 650px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: #f4f4f4;
	text-align:left;
	line-height:14px;
}

div.centeredbox
{ 
	padding: 10px; 
	width: 650px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	border: 1px solid #cccccc; 
	background-color: #f4f4f4;
	line-height:14px;
}

div.centeredboxalt
{ 
	padding: 10px; 
	width: 650px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	line-height:14px;
}

div.centeredboxlarge
{ 
	padding: 10px; 
	width: 780px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	border: 1px solid #cccccc; 
	background-color: #f4f4f4;
	line-height:14px;
	text-align:center;
}

div.centeredboxlargenoborder
{ 
	padding: 10px; 
	width: 780px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: #f4f4f4;
	line-height:14px;
	text-align:center;
}

div.centeredboxlargealt
{ 
	padding: 10px; 
	width: 780px; 
	width: 600px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: #f4f4f4;
	line-height:14px;
	text-align:center;
}

div.scrollboxDiv
{ 
	padding: 2px; 
	width: 300px; 
	height: 400px;
	border: 1px solid #cccccc; 
	background-color: #f4f4f4;
	line-height:14px;
	text-align:left;
	overflow:auto;
}

div.ShadedLeftAlignDiv
{ 
	padding: 2px; 
	line-height:14px;
	text-align:left;
}

fieldset.centeredboxForControlFieldSet
{ 
	padding: 2px; 
	width: 650px; 
	margin-top: 10px; 
	margin-left: auto; 
	margin-right: auto; 
	border: 1px solid #cccccc; 
	background-color: #CCCCCC;
	line-height:14px;
	text-align:center;
}

.panelShadedWide
{
	background-color: #CCCCCC;
	width: 780px;
	text-align:center;
}

div.centeredboxlargenowidth
{ 
	padding: 10px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	border: 1px solid #cccccc; 
	background-color: #f4f4f4;
	line-height:14px;
	text-align:center;
}


div.centeredboxlargeLeft
{ 
	padding: 10px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: #f4f4f4;
	line-height:14px;
	text-align:left;
}

div.centeredboxLeft
{ 
	padding: 10px; 
	width:650px;
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: #f4f4f4;
	line-height:14px;
	text-align:left;
}


div.centeredboxlargenopadding
{ 
	width: 750px; 
	margin-top: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	line-height:14px;
}
div.centeredboxwidthofscreen
{
	margin-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	border: 1px solid #cccccc; 
	background-color: #f4f4f4;
	text-align: center;
}

div.enclosedWhiteBox
{
	padding: 10px; 
	margin-top: auto; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: auto; 
	border: 1px solid #cccccc; 
	background-color: white;
	line-height:14px;
}

/* 
****************************************************************
Styles and Style Classes for hyperlinks
****************************************************************
*/

.linkInActiveXSmallBold
{
	font-size: x-small;
	color: #808080;
	font-family:"Trebuchet MS",sans-serif;
}

.linkInActiveXSmallBold:hover
{
	cursor: hand;
	color: #9b0521;
}

.linkInActiveXSmallBold:active
{
	color: #9b0521;
}

.linkInActiveXSmall
{
	font-size: x-small;
	color: #808080;
	font-family: "Trebuchet MS",sans-serif;
}

.linkInActiveXSmall:hover
{
	cursor: hand;
	color: #9b0521;
}

.linkInActiveXSmall:active
{
	color: #9b0521;
}

.linkBlackXSmall
{
	font-size: x-small;
	color: #000000;
	font-family:"Trebuchet MS",sans-serif;
}

.linkBlackXSmall:hover
{
	cursor: hand;
	color: #9b0521;
}

.linkBlackXSmall:active
{
	color: #9b0521;
}


.linkRedXSmall
{
	font-size: x-small;
	color: #ff0000;
	font-family: "Trebuchet MS",sans-serif;
}

.linkRedXSmall:hover
{
	cursor: hand;
	color: #9b0521;
}

.linkRedXSmall:active
{
	color: #9b0521;
}

.linkBlackXXSmall
{
	font-size: xx-small;
	color: #000000;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
}

.linkBlackXXSmall:hover
{
	cursor: hand;
	color: #9b0521;
}

.linkBlackXXSmall:active
{
	color: #9b0521;
}

.linkBlackXSmallBold
{
	font-weight:bold;
	font-size: x-small;
	color: #000000;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
}

.linkBlackXSmallBold:hover
{
	cursor: hand;
	color: #9b0521;
}

.linkBlackXSmallBold:active
{
	color: #9b0521;
}

.linkRedXSmallBold
{
	font-weight:bold;
	font-size: x-small;
	color: #ff0000;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
}

.linkRedXSmallBold:hover
{
	cursor: hand;
	color: #9b0521;
}

.linkRedXSmallBold:active
{
	color: #9b0521;
}

.linkBlackSmall
{
	font-size: small;
	color: #000000;
	font-family: "Trebuchet MS",sans-serif;
}

.linkBlackSmall:hover
{
	cursor: hand;
	color: #9b0521;
}

.linkBlackSmall:active
{
	color: #9b0521;
}

.linkBlackSmallBold
{
	font-weight:bold;	
	font-size: small;
	color: #000000;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
}

.linkBlackSmallBold:hover
{
	cursor: hand;
	color: #9b0521;
}

.linkBlackSmallBold:active
{
	color: #9b0521;
}

.linkSearchHitXSmall
{
	font-size: x-small;
	color: #000000;
	font-family: "Trebuchet MS",sans-serif;
	font-weight: bold;
}

.linkSearchHitXSmall:hover
{
	cursor: hand;
	color: #cc9900;
}

.linkSearchHitXSmall:active
{
	color: #cc9900;
}


a.special
{
	right: 25px;
	left: 386px;
	padding: 0px;
	width: 150px;
	position: relative;
	top: -4px;
	text-align: right;
	text-decoration: underline;
}
a.special:link
{
	
	text-decoration: underline;
}

.links
{
	margin-top: 10px;
	font-size: 100%;  /* CHECK THIS */
	left: 60px;
	margin-bottom: 10px;
	width: 400px;
	position: relative;
	text-align: center;
}
.links2
{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.links3
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
	text-align: center;
}

.links a:link, .links2 a:link
{
	text-decoration: underline;
}

.links a:visited, .links2 a:visited
{
	text-decoration: underline;
}

.links a:hover, .links2 a:hover
{
	text-decoration: underline;
}

.links a:active, .links2 a:active
{
	text-decoration: underline;
}


/* 
	****************************************************************
	Styles for buttons
	****************************************************************
*/
input.button
{
	
	color: #003365;
	background-color: #dddddd;
	cursor: pointer;
	width:auto;
	overflow:visible;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 100%;
	font-family:"Trebuchet MS",sans-serif;	
	/* We should be using this instead of nbsp; and buttonAlign for button spacing 
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	*/
}
input.buttonhov
{
	background-color: #B6BDD2;
}
div.buttonAlign
{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
}

/* 
	****************************************************************
	CR - 19: Styles for upload tool buttons
	****************************************************************
*/
.buttonEnhancedNormal
{
	background-image: url(/EN_Normal.PNG);
	width:142px;
	display:inline-block;
	background-repeat:no-repeat;
	overflow:hidden;
	height:22px;
}
.buttonEnhancedHover
{
	background-image: url(/EN_Hover.PNG);
	width:142px;
	display:inline-block;
	background-repeat:no-repeat;
	overflow:hidden;
	height:22px;
}
.buttonEnhancedDisabled
{
	background-image: url(/EN_Disabled.PNG);
	width:142px;
	display:inline-block;
	background-repeat:no-repeat;
	overflow:hidden;
	height:22px;
}
.buttonEnhancedClicked
{
	background-image: url(/EN_Clicked.PNG);
	width:142px;
	display:inline-block;
	background-repeat:no-repeat;
	overflow:hidden;
	height:22px;
}
.buttonEnhancedFocus
{
	background-image: url(/EN_Focus.PNG);
	width:142px;
	display:inline-block;
	background-repeat:no-repeat;
	overflow:hidden;
	height:22px;
}

.buttonClassicNormal
{
	background-image: url(/CL_Normal.PNG);
	width:127px;
	display:inline-block;
	background-repeat:no-repeat;
	overflow:hidden;
	height:22px;
}
.buttonClassicHover
{
	background-image: url(/CL_Hover.PNG);
	width:127px;
	display:inline-block;
	background-repeat:no-repeat;
	overflow:hidden;
	height:22px;
}
.buttonClassicDisabled
{
	background-image: url(/CL_Disabled.PNG);
	width:127px;
	display:inline-block;
	background-repeat:no-repeat;
	overflow:hidden;
	height:22px;
}
.buttonClassicClicked
{
	background-image: url(/CL_Clicked.PNG);
	width:127px;
	display:inline-block;
	background-repeat:no-repeat;
	overflow:hidden;
	height:22px;
}
.buttonClassicFocus
{
	background-image: url(/CL_Focus.PNG);
	width:127px;
	display:inline-block;
	background-repeat:no-repeat;
	overflow:hidden;
	height:22px;
}

/* 
	****************************************************************
	Style for page titles
	****************************************************************
*/
h3
{
	padding-bottom: 4px;
	font-size: 150%;
	font-family: "Trebuchet MS",sans-serif; /* CHECK THIS */
}
.faqtitle
{
	font-weight: bold;
	font-size: 160%;
}
.bigtitle
{
	font-weight: bold;
	font-size: 140%;
}


/* 
	****************************************************************
	Styles for various general text elements
	****************************************************************
*/
div.warningbox_enclosed
{
	margin-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: #cc0000 1px solid;
	border-bottom: #cc0000 1px solid;
	border-right: #cc0000 1px solid;
	border-left: #cc0000 1px solid;
	background-color: #f4f4f4;
}
div.warningbox
{
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: #cc0000 1px solid;
	border-bottom: #cc0000 1px solid;
	left: 10px;
	width: 95%;
	background-color: #f4f4f4;
}
div.box
{
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: #002244 1px solid;
	border-bottom: #002244 1px solid;
	left: 10px;
	width: 95%;
	background-color: #f4f4f4;
}
.warning
{
	color: #cc0000;
}
.redtext
{
	color: #cc0000;
}
.redtextBold
{
	color: #cc0000;
	font-weight: bold;
}
.greentext
{  
	color: #008800;
}
.orangetext
{
	color: #EE6600
}
.blacktext
{
	color: #000000;
}
.important2
{
	font-size: 105%;
}
.important2 a:link
{
	color: #003365;
	text-decoration: underline;
}
.important2 a:hover
{
	color: #6699cc;
}
.important2 a:active
{
	color: #ff3333;
}
.important3
{
	font-weight: bold;
}
.important3 a:link
{
	color: #003365;
	text-decoration: none;
}
.important3 a:hover
{
	color: #6699cc;
}
.important3 a:active
{
	color: #ff3333;
}
.important3 a:visited
{
	color: #003365;
	text-decoration: none;
}
.texthighlight
{
	font-weight: bold;
}
.texthighlightCentered
{
	font-weight: bold;
	text-align: center;
}
.important
{
	color: #003365;
	font-weight: bold;
}
p.content
{
	text-align:justify;
}
.centered
{
	text-align: center;
}
.rightAligned
{
	text-align: right;
}

.alertText
{
	color: #cc0000;
}
.italic
{
	font-style: italic;
}


/* 
	****************************************************************
	Styles for various general form elements
	****************************************************************
*/

/*
.faded_for_hidden_item
{
	filter:alpha(opacity=40);
	-moz-opacity:.40;
	opacity:.40;
}
*/
.faded_for_hidden_item
{
	color:#AAAAAA;
}

input.txt
{
	font-size: 100%;
	border: #999999 1px solid;
	height: 18px;
	vertical-align: middle;
	line-height: 18px;
	width: 200px;
	color: #000000;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
}
.txtarea
{
	border: #003365 1px solid;
	vertical-align: middle;
	color: #003366;
	background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
}
.radio
{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	vertical-align: middle;
}
select
{
	/*a class is not really needed for selects. So I put this in case someone forgets to add the class*/
	border: 1px solid #999999;
	/*height: 18px; Breaks FireFox*/	
	font-size: 95%;
	color: #000000;
	vertical-align: middle;
	margin-top: 2px;
	margin-bottom: 2px;	
}
select.dropdown
{
	border: 1px solid #999999;
	/*height: 18px; Breaks FireFox*/	
	font-size: 95%;
	color: #000000;
	vertical-align: middle;
	margin-top: 2px;
	margin-bottom: 2px;	
}
.listmenu
{
	border: #003365 1px solid;
	vertical-align: middle;
	color: #003366;
	background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 225px;
}

.checkbox { vertical-align: middle; }

/* 
	****************************************************************
	Styles for general table data, including pagination & sorting
	****************************************************************
*/
td.leftWidth
{
	width: 22%; 
	background-color: #EEEEEE; 
}
table.minitable 
{
	border:0;
	border-collapse: collapse;
	vertical-align: middle;
}
table.minitable td
{ 
	border:0;
	border-collapse: collapse;
}
table.minitable tr
{ 
	border:0;
	border-collapse: collapse;
}
th
{
	vertical-align: bottom;
}
.results
{
	padding: 2px;
	margin-top:5px;
	margin-bottom: 15px;
	margin-left: 0px;
	width: 796px;
	height: inherit;
	color: #003365;
	clear: both;
}
.datatable3
{
	border-collapse: collapse;
	width: 100%;
	line-height: 14px;
	background-color: #FFFFFF
}
.datatable3 td
{
	padding: 3px;
	border: 1px solid #ffffff;
}
.datatable3 th
{
	padding: 3px;
}
.datatable3 tr
{
	background-color: #f4f4f4;
}
.datatable3 tr.altrow
{
	background-color: #ffffff;
}
.datatable3 th
{
	border: 1px solid #ffffff;
	border-collapse: collapse;
	background-color: #3a5568;
	font-weight: bold;
	text-align: left;
	padding-left: 4px;
	color: #ffffff;
}
.datatable
{
	border: 1px solid #cccccc;
	border-collapse: collapse;
	width: 100%;
	line-height: 14px;
}
.datatable td
{
	padding: 3px;
	border: 1px solid #cccccc;
}
.datatable th
{
	padding: 3px;
}
.datatable tr
{
	background-color: #ffffff;
}
.datatable th
{
	border-left: 1px #cccccc solid;
	background-color: #3a5568;
	font-weight: bold;
	text-align: left;
	padding-left: 4px;
	color: #ffffff;
}
.datatable caption
{
	color: #33517A;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 8px;
}
.datatable tr.altrow
{
	background-color: #e6e6e6;
}

.datatable div
{
    padding: 0px;
}

.datatable2
{
	border: 1px solid #cccccc;
	border-collapse: collapse;
	width: 100%;
	line-height: 14px;
}

.datatable2 tr
{
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
.datatable2 td
{
	border: 1px solid #cccccc;
	padding: 1px;
	vertical-align: top;
}

.datatable2 td.label
{
	border: 1px solid #cccccc;
	font-weight: bold;
	padding: 1px;
	vertical-align: top;
}
.datatable2 th
{
	border: 1px solid #cccccc;
	border-collapse: collapse;
	background-color: #3a5568;
	font-weight: bold;
	text-align: left;
	padding-left: 4px;
	color: #ffffff;
}
.datatable2 th.centered
{
	border: 1px solid #cccccc;
	border-collapse: collapse;
	background-color: #3a5568;
	font-weight: bold;
	text-align: center;
	padding-left: 4px;
	color: #ffffff;
}
.datatable2 caption
{
	color: #33517A;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 8px;
}
.datatable2 tr.altrow
{
	background-color: #e6e6e6;
}
.searchCriteriaNET
{
	border-collapse: collapse;
	line-height: 14px;
	text-align:center;
	margin-left: auto; 
	margin-right: auto; 
}

.searchCriteriaNET table 
{
	width: 781px;
}

.searchCriteriaNET td
{
	padding: 3px;
}
.searchCriteriaNET th
{
	padding: 3px;
}
.searchCriteriaNET tr
{
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
.searchCriteriaNET th
{
	border-left: 1px #cccccc solid;
	background-color: #3a5568;
	font-weight: bold;
	text-align: left;
	padding-left: 4px;
	color: #ffffff;
}
.searchCriteriaNET caption
{
	color: #33517A;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 8px;
}
.searchCriteriaNET tr.altrow
{
	background-color: #e6e6e6;
}

.paginationTable
{
	border: 0px;
	border-collapse: collapse;
	width: 100%;
	line-height: 14px;
}
.paginationTable tr
{
	background-color: #f4f4f4;
}
.paginationTable td
{
	border: 0px;
	padding: 1px;
}
td.pagination
{
	text-align: center;
}

/* 
	****************************************************************
	Styles for custom flags
	****************************************************************
*/
span.flag
{
	font-family: "Zapf Dingbat", "Arial Unicode MS", "Code2000", "Lucida Sans Unicode";
	font-size: 175%;
	line-height: 110%;
}
span.disabledflag
{
	font-family: "Zapf Dingbat", "Arial Unicode MS", "Code2000", "Lucida Sans Unicode";
	font-size: 175%;
	color: #cccccc;
	line-height: 110%;
}
table.flagmatrix
{
	text-align: center;
	vertical-align: middle;			
	background: #ffffff;
	border: 0px #ffffff hidden;
}
table.flagmatrix td.disabledflag
{
	border: 2px #ffffff hidden;
	background: #dddddd;
}
table.flagmatrix td.selectedflag
{
	border: 2px #000000 dashed;
}
table.flagmatrix td.unselectedflag
{
	border: 2px #ffffff solid;
}	
div.collapsedMenuFlags
{
	width: 75px; 
	white-space: normal;
}
div.actionMenuLinksWithFlags
{
	width: 200px; 
	white-space: normal;
	vertical-align: middle;
}

/* 
	****************************************************************
	Miscellaneous other styles
	****************************************************************
*/
br
{
	clear: left;
}
img
{
	border: 0px;
}
img.calendar
{
	vertical-align: middle;
}

p.acrobatLink
{
	font-weight: bold;
	text-align: center;
}
th.shaded
{
	border-left: 1px #cccccc solid;
	background-color: #cccccc;
	font-weight: bold;
	text-align: left;
	padding-left: 3px;
	color: #ffffff;
}
td.shaded 
{
    background-color:#EEEEEE;
}
td.shadedNoWrap
{
    background-color:#dddddd;
    white-space:nowrap
}
span.proxy { background: #fcee00; }

.proxy { background: #fcee00; }

.nowrap { white-space:nowrap }
.lettercontent 
{
	margin-top:5px;
	border-top:1px solid #000033;
	border-bottom:1px solid #000033;
	padding:5px; 
	background-color:#FFFFFF;
}

/* Links on the top and the bottom of the checkbox column for selecting/deselecting all */
a.checkAll 
{
    white-space: nowrap;
    display: inline;
}
/**********************************************************************************************************
********
********  FEATURE-SPECIFIC STYLES
********
***********************************************************************************************************/

/* 
	****************************************************************
	Styles for registration, UMI, and UOPI pages. Form fields & labels
	****************************************************************
*/
span.labeltagshort
{
	float: left;
	text-align: left;
	padding-right: 2em;
	width: 100px;
	color:#003366;
	line-height: 20px;
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
}
span.label
{
	display: block;
	float: left;
	text-align: right;
	padding-right: 2em;
	width: 165px;
	color:#003366;
	line-height: 20px;
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;	
    font-family:"Trebuchet MS",sans-serif;
}
span.label_req
{
	padding-right: 2em;
	display: block;
	float: left;
	width: 165px;
	color: #cc0000;
	text-align: right;
	line-height: 20px;
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;	
}
.helpersreq
{
	font-size: 90%;
	color: #cc0000;
	text-align: left;
}
.helpers
{
	font-size: 90%;
	color: #003366;
	text-align: left;
}
.hint
{
	border-right: #333333 1px;
	border-top: #333333 1px;
	border-left: #333333 1px;
	border-bottom: #333333 1px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 2px;
	font-size: 90%;
	width: 320px;
	left: 185px;
	color: #003366;
	display: block;
	position: relative;
	background-color: #ffffff;
	text-align: left;
}
input.req
{
	font-size: 100%;
	border: #999999 1px solid;
	height: 18px;
	vertical-align: middle;
	line-height: 18px;
	width: 200px;
	color: #000000;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;	
	background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
}
.radioreq
{
	margin-top: 2px;
	margin-bottom: 2px;	
	margin-left: 2px;
	vertical-align: middle;
}
select.dropdownreq
{
	border: 1px solid #999999;
	height: 18px;	
	font-size: 95%;
	color: #000000;
	vertical-align: middle;
	margin-top: 2px;
	margin-bottom: 2px;		
}


/* 
	****************************************************************
	Styles for manuscript submission step menu
	****************************************************************
*/
ul.stepitems
{
	width: 184px;
	padding-left: 0px;
	padding-right: 10px;
	margin-left: 0px;
	list-style-type: none;
	display: inline;
	font-weight: bold;
	font-size: 90%;
	text-decoration: none;
	list-style-position: outside;
	margin-top: 5px;
	margin-bottom: 5px;
}
ul.stepitems li
{
	padding: 0px 0px 0px 0px;
	border: 1px solid #003366;
	line-height: 170%;
	list-style-image: url(./img/blank-bullet.gif);
	list-style-position: outside;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
	background-color: #F4F4F4;
}
ul.stepitems li.check
{
	list-style-image: url(./img/checkmark.gif);
	color: #cccccc;
}
ul.stepitems li.arrow
{
	list-style-image: url(./img/arrow.gif);
	color: #002244;
	background-color: #cccccc;
}
ul.stepitems li a
{
	display: block;
	color: #002244;
	text-decoration: none;
}
ul.stepitems li a:visited
{
	display: block;
	color: #002244;
	text-decoration: none;
}
ul.stepitems li a:hover
{
	background-color:#cccccc;
	display: block;
	color: #002244;
	text-decoration: none;
}
ul.stepitems li a:active
{
	display: block;
	background-color:#cccccc;
	color: #002233;
	text-decoration: none;
}
/* 
	****************************************************************
	Styles for Login pages
	****************************************************************
*/
.loginError
{
	color: #cc0000;
	font-weight: bold;
}
div.copyright
{
	text-align: center;
	font-size: 85%;
}
div.journalThumbnail
{
	text-align: center;
}
/* 
	****************************************************************
	Styles for reviewer & editor recommendation pages
	****************************************************************
*/
input.rating
{
	border: #003365 1px solid;
	margin-top: -10px;
	height: 18px;
	vertical-align: middle;
	line-height: 18px;
	width: 30px;
	color: #003366;
	margin-right: 5px;
	background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
}


/* 
	****************************************************************
	Styles for classifications
	****************************************************************
*/
td.classificationscell
{ 
	padding: 2px; 
	border-bottom: 1px solid #000000; 
	background-color:#ffffff;
}
td.classificationsshadedcell
{ 
	padding: 2px; 
	border-bottom: 1px solid #000000; 
	background-color: #cccccc;
}
th.classifications
{ 
	padding: 0px; 
	border-bottom: 1px solid #000000; 
	background-color:#ffffff;
}
table.classifications
{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #999999;
	background-color: #000000;
	list-style-position: outside;
}

/* 
	****************************************************************
	Style for ident.asp
	****************************************************************
*/
.navbarText
{
	color: #ffffff; 
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 70%;
}

/* 
	****************************************************************
	Styles for Main Menus
	****************************************************************
*/
.main_menu_item
{
	line-height: 180%; 
	padding-left: 100px;
}
.main_menu_item_heading
{
	margin-left:-30px;
	margin-top:-20px;
}
#header 
{
	float:left;
	width:100%;
	background: url("../ins/img/bg-blackbar.gif") repeat-x bottom;
	font-size:93%;
	line-height:normal;
}
#header ul 
{
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}	
#header li
{
	float:left;
	background:#336699 url("../ins/img/norm_left2.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 9px;
}
#header a 
{
	float:left;
	display:block;
	background:url("../ins/img/norm_right2.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#FFFFFF;
}
#header a:hover 
{
	color:#FFFFFF;
	text-decoration: underline;
}
#header #current 
{
	background:#FFFFFF url("../ins/img/norm_left2.gif") no-repeat left top;
}
#header #current a 
{
	background:url("../ins/img/norm_right2.gif") no-repeat right top;
	color:#336699;
	padding-bottom:5px;
}
#header #current a:hover
{
	text-decoration: none;
}
div.menuSection
{
	text-align:center;
	border:1px solid #CCCCCC;
	/*font-size:10px;*/
}

/* These are the style specifications for the menu layers. */
div.menu  
{ 
	position:absolute; 
	visibility:hidden; 
	left:0; top:0;
	z-index:500;
	margin: 0px;
	padding:5px;
	border: 3px solid;	
	border-color: #CCC #666 #666 #CCC;
	background-color:#DDDDDD; 
	text-align:left;
}

div.menu a 
{ 
	cursor: pointer;
	padding:.25em .4em; 
	margin:0; 
	background-color:transparent; 
	display:block; 
	position:relative; 
	text-decoration:none; 
	line-height:11px;
}

div.menu a:link { text-decoration:none; }
div.menu a:visited {text-decoration:none; }
div.menu a:hover { color:#fff; background-color:#3a5568; text-decoration:none; }

/* Special action link styles for action links combined with flags */
div.menu a.linkWithFlags
{ 
	display: inline;
}

.false_link
{
	color: #0000ff;
	text-decoration: underline;
	cursor: pointer;
}

div.menu-expand a 
{ 
	cursor: pointer;
	padding:.25em .4em; 
	margin:0; 
	background-color:transparent; 
	display:block; 
	position:relative; 
	line-height:11px;
}
/***********************
Miscellaneous Font Styles
***********************/
.lblErrorMsgSmall
{
	font-size: x-small;
	color: #ff0000;
	font-family: "Trebuchet MS",sans-serif;
}

.lblErrorMsgSmallBold
{
	font-size: x-small;
	color: #ff0000;
	font-family: "Trebuchet MS",sans-serif;
	font-weight: bold;
}

.lblErrorMsgSmallBoldItalic
{
	font-size: x-small;
	color: #ff0000;
	font-family: "Trebuchet MS",sans-serif;
	font-weight: bold;
	font-style: italic;
}

.lblErrorMsgMedium			
{
	font-size: small;
	color: red;
	font-family: "Trebuchet MS",sans-serif;
}

.lblErrorMsgLarge
{
	font-size: medium;  
	color: red;
	font-family: "Trebuchet MS",sans-serif;
}

.lblInfoMsgSmall
{
	font-size: x-small;
	color: #003399;
	font-family:"Trebuchet MS",sans-serif;
}

.lblInfoMsgSmallBold
{
	font-size: x-small;
	color: #003399;
	font-family: "Trebuchet MS",sans-serif;
	font-weight: bold;
}

.lblInfoMsgMedium
{
	font-size: small;
	color: #003399;
	font-family: "Trebuchet MS",sans-serif;
}

.lblInfoMsgMediumBold
{
	font-size: small;
	color: #003399;
	font-family: "Trebuchet MS",sans-serif;
	font-weight: bold;
}

.lblInfoMsgLarge
{
	font-size: medium;
	color: #003399;
	font-family: "Trebuchet MS",sans-serif;
}

.lblSearchHitXSmall
{
	font-size: x-small;
	color: #000000;
	font-family: "Trebuchet MS",sans-serif;
	font-weight: bold;
}



.lblMissingItemSmall
{
	font-size: x-small;
	color:#AAAAAA;
	font-family: "Trebuchet MS",sans-serif;
}

.lblMissingItemSmallBold
{
	font-size: x-small;
	color:#AAAAAA;
	font-family:"Trebuchet MS",sans-serif;
	font-weight: bold;
}

.lblInactiveMsgSmall
{
	font-size: x-small;
	color: #808080;
	font-family: "Trebuchet MS",sans-serif;
}

.lblInactiveMsgSmallBold
{
	font-size: x-small;
	color: #808080;
	font-family: "Trebuchet MS",sans-serif;;
	font-weight: bold;
}

.white_links a:link
{
	color: #FFFFFF;
}

.white_links a:visited
{
	color: #FFFFFF;
}

.white_links a:hover
{
	color: #FFFFFF;
}
